@use 'sass:map';
@use 'tokens' as *;

@mixin theme-properties($theme-map) {
  --color-body-bg: #{map.get($theme-map, body-bg)};
  --color-surface: #{map.get($theme-map, surface)};
  --color-surface-alt: #{map.get($theme-map, surface-alt)};
  --color-text: #{map.get($theme-map, text)};
  --color-text-soft: #{map.get($theme-map, text-soft)};
  --color-navbar-bg: #{map.get($theme-map, navbar-bg)};
  --color-navbar-text: #{map.get($theme-map, navbar-text)};
  --color-accent: #{map.get($theme-map, accent)};
  --color-accent-strong: #{map.get($theme-map, accent-strong)};
  --color-accent-contrast: #{map.get($theme-map, accent-contrast)};
  --color-border: #{map.get($theme-map, border)};
  --color-shadow: #{map.get($theme-map, shadow)};
  --color-success: #{map.get($theme-map, success)};
  --color-danger: #{map.get($theme-map, danger)};
  --color-badge-bg: #{map.get($theme-map, badge-bg)};
}

:root,
[data-theme='default'] {
  --font-family-base: #{$font-family-base};
  --font-family-heading: #{$font-family-heading};
  --font-style-base: #{map.get($typography, font-style-base)};
  --font-style-heading: #{map.get($typography, font-style-heading)};
  --font-weight-base: #{map.get($typography, font-weight-base)};
  --font-weight-heading: #{map.get($typography, font-weight-heading)};
  --font-color-base: #{map.get($typography, font-color-base)};
  --font-color-muted: #{map.get($typography, font-color-muted)};

  @include theme-properties($theme-default);
}

[data-theme='sunset'] {
  @include theme-properties($theme-sunset);
}

[data-theme='forest'] {
  @include theme-properties($theme-forest);
}
